%flex-parent-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

%flex-parent-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

%flex-parent-row-rev {
  align-items: flex-start;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
}

%shadow {
  -webkit-box-shadow: 10px 10px 31px -13px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 31px -13px rgba(0,0,0,1);
  box-shadow: 10px 10px 31px -13px rgba(0,0,0,1);
  border: solid 1px #efefef;

}

%inset {
  -webkit-box-shadow: inset 10px 10px 16px -15px rgba(0,0,0,0.44);
  -moz-box-shadow: inset 10px 10px 16px -15px rgba(0,0,0,0.44);
  box-shadow: inset 10px 10px 16px -15px rgba(0,0,0,0.44);
  border: solid 1px #efefef;

}

//Colors
$bground: #f2f1ee;
$content: #fff;
$first: #c70a14;

//Fonts
$heading: 'Montserrat', sans-serif;
$body: 'Source Sans Pro', sans-serif;
$cursive: 'Monoton', cursive;

body {
  background-color: $bground;
}

h1, h2, h3, h4, h5, h6, dt {
  font-family: $heading;
  margin: 0;
}

h2, h3, h4, {
  font-family: $heading;
  margin: 0;
  color: $first;
}

h1 {
  margin: 0;
}

h6 {
  margin-bottom: 30px; 
}

p, a, dd{
  font-family: $body;
}

p {
  margin: 0;
}

a {
  color: #000;
  text-decoration-color: $first;
  transition: color .5s ease;

  &:hover {
    color: $first;
  }

  &:active {
    color: $first;
  }

}

dl {
  display: flex;
  background-color: $content;
  flex-direction: column;
  overflow: hidden; // width: 100%; *** MAKE RESPONSIVE
  position: relative;
  padding-right: 20px;
  margin: 0;
}

dt {
  // justify-content: flex-start;
  align-self: center; // width: 100%; *** MAKE RESPONSIVE
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
}

hr {
  margin: 5px;
  height: 2px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $bground));
}

main {
  @extend %flex-parent-row-rev;
  max-width: 1350px;
  min-width: 1100px;
  margin: auto;
}

header {
  justify-content: flex-start;
  align-items: flex-start;

  .info {
    background-color: $content;
    max-width: 45%;
  }

  img {
    width: 50%;
  }

  h3, h5, {
    margin-bottom: 5px;
  }
}

aside {
  min-width: 474px;
}

.title {
  margin-bottom: 15px;

  &::first-letter {
    color: $first;
    font-family: $cursive;
    font-size: 40px;
    font-weight: 1;
  }
}

.last {
  padding-bottom: 20px;
}

.line {
  align-items: normal !important;
  justify-content: space-between;
  .content {
    margin-bottom: 15px;
    min-width: 62%;

    a {
      font-family: "Font Awesome 5 Free";
      font-size: 40px;
    }
  }
}

.container {
  margin: 15px 7.5px;
}

.sub-container {
  @extend %shadow; 
  padding: 15px;
  margin-bottom: 15px;
  background-color: $content;
}

.topic {
  @extend %flex-parent-row;
  align-items: baseline;
  align-content: center;
  height: 90%;
  padding-bottom: 0 !important;
}

.link {
  @extend %inset;
  background-color: $bground;
  padding: 15px;
}

.content {
  width: 40%;
}

.xtr-btm {
  padding-bottom: 30px;

  p {
    height: 200px;
  }

  h4 {
    margin-bottom: 30px;
  }
}

.btn {
  max-width: 50%;
  margin: auto;

  a {
    text-decoration: none;
  }
}

.inset {
  @extend %inset;
  background-color: $content;
  padding: 15px;
}

.test {
  @extend %flex-parent-row;
  align-items: flex-start;
}


.graph {
  padding-right: 0;

  h4 {
    color: #000;
  }
}

.percentage {
  line-height: 1; // width: 100%; *** MAKE RESPONSIVE
  height: 40px;
  margin-left: 90px;
  background: repeating-linear-gradient(to right, #ddd, #ddd 1px, $content 3px, $content 32.8%);
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 80px;
  background-color: $content;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.flex {
  @extend %flex-parent-row;
  align-items: flex-start;
  justify-content: flex-end;

  .best {
    margin: 0 24px 0 0;
  }

  .better {
    margin: 0 75px 0 65px;
  }
}

.ball {
  background-color: $first;
  border-radius: 100%;
  margin: 0 0 10px 2px;
  height: 0;
  width: 0;
}

.chart {
  background-color: $first;
  margin: 0 0 10px 2px;  
  border-radius: 2px 7px 7px 2px;
  height: 90%;
}

.ball-75 {
  width: 98%;
}

.ball-50 {
  width: 65.2%;
}

.ball-25 {
  width: 32.4%;
}

.show {
  display: block;
}

@media (max-width: 430px) {

  h2 {
    font-size: 1.3em
    ;
  }

  h6 {
    margin-bottom: 10px;
  }

  body {
    margin: 0;
  }

  main {
    max-width: 430px;
    min-width: 430px;
    flex-wrap: wrap;
    flex-flow: column-reverse nowrap;
    margin: 0;
  }

  aside {
    min-width: 0;
  }

  .topic {
    flex-wrap: wrap;
  }

  .container {
    margin: 0;
  }

  .content {
    width: 100%;

    h3, h4 , h6 {
    text-align: center;
    } 
  }

  .xtr-btm {
    padding-bottom: 60px;

    h4 {
      margin-bottom: 10px;
    }

    p {
      height: 170px
    }
  }

  .text {
    font-size: .8em;
  }

  .content.test {
    max-width: 40%;
  }

  .flex {
    .better {
    margin: 0 60px 0  45px;
    }
  }
}
